USE [Wellmeadows_Hospital_1]
GO
/****** Object:  Table [dbo].[Cama]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cama](
	[numero_Cama] [int] NOT NULL,
	[numero_Departamento] [varchar](10) NULL,
	[disponibilidad] [bit] NULL,
	[fecha_de_ingreso] [date] NULL,
	[fecha_de_salida] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Cama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cantidad_suministro_farmaceuticos_en_almacen]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantidad_suministro_farmaceuticos_en_almacen](
	[suministro_Farmaceutico] [varchar](10) NOT NULL,
	[cantidad_de_almacen] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[suministro_Farmaceutico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[numero_Cita] [varchar](15) NOT NULL,
	[numero_Departamento] [varchar](10) NULL,
	[numero_Paciente] [varchar](10) NULL,
	[numero_Empleado] [varchar](20) NULL,
	[fecha] [date] NULL,
	[hora] [time](0) NULL,
	[habitacion] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita_de_paciente]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita_de_paciente](
	[numero_Paciente] [varchar](10) NOT NULL,
	[numero_cita] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[id_Contrato] [varchar](20) NOT NULL,
	[numero_Empleado] [varchar](20) NULL,
	[tipo_Contrato] [char](8) NULL,
	[horas_Semana] [int] NULL,
	[tipo_Nomina] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato_de_empleado]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato_de_empleado](
	[numero_Empleado] [varchar](20) NOT NULL,
	[id_Contrato] [varchar](20) NULL,
	[categoria] [varchar](50) NULL,
	[salario_Actual] [money] NULL,
	[escala_Salarial] [varchar](50) NULL,
	[horas_Trabajadas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Costo_unitario_suministro_farmaceuticos]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costo_unitario_suministro_farmaceuticos](
	[suministro_Farmaceutico] [varchar](10) NOT NULL,
	[costo_Unitario] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[suministro_Farmaceutico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cualificacion]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cualificacion](
	[fecha_Obtencion] [date] NOT NULL,
	[numero_Empleado] [varchar](20) NOT NULL,
	[tipo] [varchar](50) NULL,
	[nombre_Institucion] [varchar](50) NULL,
 CONSTRAINT [PK_Cualificacion] PRIMARY KEY CLUSTERED 
(
	[fecha_Obtencion] ASC,
	[numero_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cualificacion_Empleado]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cualificacion_Empleado](
	[numero_Empleado] [varchar](20) NOT NULL,
	[fecha_Obtencion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Empleado] ASC,
	[fecha_Obtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_personales]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_personales](
	[numero_Paciente] [varchar](20) NOT NULL,
	[telefono_Paciente] [bigint] NULL,
	[fecha_Nacimiento] [date] NULL,
	[sexo] [char](1) NULL,
	[estado_Civil] [varchar](15) NULL,
	[calle] [varchar](50) NULL,
	[colonia] [varchar](50) NULL,
	[alcaldía_Municipio] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
	[cp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_personales_empleado]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_personales_empleado](
	[numero_Empleado] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido_M] [varchar](50) NULL,
	[apellido_P] [varchar](50) NULL,
	[calle] [varchar](100) NULL,
	[colonia] [varchar](50) NULL,
	[alcaldia_municipio] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
	[codigo_postal] [int] NULL,
	[telefono_Empleado] [varchar](15) NULL,
	[fecha_Nac] [date] NULL,
	[sexo] [char](1) NULL,
	[NIN] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_personales_pariente]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_personales_pariente](
	[telefono_Pariente] [bigint] NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellidoP] [varchar](20) NULL,
	[apellidoM] [varchar](20) NULL,
	[calle] [varchar](50) NULL,
	[colonia] [varchar](50) NULL,
	[alcaldía_municipio] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
	[cp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[telefono_Pariente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_suministro_farmaceutico]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_suministro_farmaceutico](
	[suministro_Farmaceutico] [varchar](10) NOT NULL,
	[nombre_Farmaceutico] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[dosis] [varchar](20) NULL,
	[modo_administracion] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[suministro_Farmaceutico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_Suministros_Q_NQ]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_Suministros_Q_NQ](
	[suministro_Quirurgico] [varchar](8) NOT NULL,
	[nombre_Elemento] [varchar](100) NULL,
	[descripcion] [varchar](15) NULL,
	[existencia_Almacen] [int] NULL,
	[nivel_respuesto_Q_NQ] [varchar](10) NULL,
	[costo_Unitario] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[suministro_Quirurgico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[numero_Departamento] [varchar](10) NOT NULL,
	[nombre_Departamento] [varchar](100) NULL,
	[ubicacion] [varchar](50) NULL,
	[total_Camas] [int] NULL,
	[ext_Telefono] [int] NULL,
	[numero_Empleado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiencia_Empleado]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiencia_Empleado](
	[numero_Empleado] [varchar](20) NOT NULL,
	[id_Experiencia] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiencia_Laboral]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiencia_Laboral](
	[id_Experiencia] [varchar](50) NOT NULL,
	[numero_Empleado] [varchar](20) NULL,
	[nombre_Organizacion] [varchar](50) NULL,
	[categoria] [varchar](50) NULL,
	[fecha_Incorporacion] [date] NULL,
	[fecha_Termino] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Experiencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicacion]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicacion](
	[numero_Medicina] [bigint] NOT NULL,
	[numero_Departamento] [varchar](10) NULL,
	[numero_Cama] [int] NULL,
	[suministro_Farmaceutico] [varchar](10) NULL,
	[numero_Paciente] [varchar](10) NULL,
	[nombre_Medicina] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[dosis] [varchar](20) NULL,
	[unidades_Dia] [int] NULL,
	[modo_Adm] [varchar](15) NULL,
	[inicio_Medicacion] [date] NULL,
	[fin_Medicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Medicina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico_de_cabecera]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico_de_cabecera](
	[num_Ambulatorio] [varchar](8) NOT NULL,
	[numero_Paciente] [varchar](10) NULL,
	[nombre] [varchar](20) NULL,
	[apellidoP] [varchar](20) NULL,
	[calle] [varchar](50) NULL,
	[colonia] [varchar](50) NULL,
	[alcaldía_municipio] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
	[cp] [int] NULL,
	[telefono_medico] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[num_Ambulatorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel_de_peticion_de_suministro_farmaceuticos]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel_de_peticion_de_suministro_farmaceuticos](
	[suministro_Farmaceutico] [varchar](10) NOT NULL,
	[nivel_repuesto_Farma] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[suministro_Farmaceutico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nombre_Paciente]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nombre_Paciente](
	[numero_Paciente] [varchar](10) NOT NULL,
	[nombre] [varchar](15) NULL,
	[apellidoP] [varchar](15) NULL,
	[apellidoM] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Ambulatorio]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Ambulatorio](
	[fecha_hora_de_Cita] [datetime2](0) NOT NULL,
	[numero_Cita] [varchar](15) NULL,
	[numero_Paciente] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[fecha_hora_de_Cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Interno]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Interno](
	[fecha_Ingreso] [date] NOT NULL,
	[numero_Cita] [varchar](15) NULL,
	[numero_Paciente] [varchar](10) NULL,
	[numero_Departamento] [varchar](10) NULL,
	[numero_Cama] [int] NULL,
	[fLista_Espera] [date] NULL,
	[estancia_Prevista] [varchar](15) NULL,
	[fecha_Salida_Prevista] [date] NULL,
	[fecha_Salida_Real] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[fecha_Ingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parentesco]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parentesco](
	[telefono_Pariente] [bigint] NOT NULL,
	[numero_Paciente] [varchar](10) NULL,
	[parentesco] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[telefono_Pariente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Departamento_Suministro_Quirurgico]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Departamento_Suministro_Quirurgico](
	[numero_Pedido] [varchar](20) NOT NULL,
	[numero_Empleado] [varchar](20) NULL,
	[numero_Departamento] [varchar](10) NULL,
	[suministro_Quirurgico] [varchar](8) NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](20) NULL,
	[dosis] [varchar](10) NULL,
	[modo_de_administracion_especialidades] [varchar](10) NULL,
	[costo_Unitario] [money] NULL,
	[cantidad_Requerida] [varchar](10) NULL,
	[fecha_Pedido] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_departamento_suministros_farmaceuticos]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_departamento_suministros_farmaceuticos](
	[numero_Pedido] [varchar](20) NOT NULL,
	[numero_Empleado] [varchar](20) NULL,
	[numero_Departamento] [varchar](10) NULL,
	[suministro_Farmaceutico] [varchar](10) NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](15) NULL,
	[dosis] [varchar](15) NULL,
	[modo_de_administracion] [varchar](15) NULL,
	[costo_Unitario] [money] NULL,
	[cantidad_Requerida] [varchar](10) NULL,
	[fecha_Pedido] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programacion_Semanal]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programacion_Semanal](
	[id_programacion_semanal] [varchar](15) NOT NULL,
	[fecha_Inicio] [date] NULL,
	[numero_Empleado] [varchar](20) NULL,
	[numero_Departamento] [varchar](10) NULL,
	[turno] [char](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_programacion_semanal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[numero_Proveedor] [varchar](8) NOT NULL,
	[suministro_Quirurgico] [varchar](8) NULL,
	[suministro_Farmaceutico] [varchar](10) NULL,
	[Calle] [varchar](100) NULL,
	[Colonia] [varchar](50) NULL,
	[alcaldia_municipio] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[cp] [varchar](10) NULL,
	[telefono] [bigint] NULL,
	[fax] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_Paciente]    Script Date: 25/09/2026 12:59:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_Paciente](
	[numero_Paciente] [varchar](10) NOT NULL,
	[fecha_Registro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cama] ([numero_Cama], [numero_Departamento], [disponibilidad], [fecha_de_ingreso], [fecha_de_salida]) VALUES (35, N'D-4', 1, CAST(N'2025-01-03' AS Date), CAST(N'2025-01-04' AS Date))
INSERT [dbo].[Cama] ([numero_Cama], [numero_Departamento], [disponibilidad], [fecha_de_ingreso], [fecha_de_salida]) VALUES (60, N'D-5', 1, CAST(N'2025-02-15' AS Date), CAST(N'2025-02-16' AS Date))
INSERT [dbo].[Cama] ([numero_Cama], [numero_Departamento], [disponibilidad], [fecha_de_ingreso], [fecha_de_salida]) VALUES (83, N'D-6', 1, CAST(N'2025-02-28' AS Date), CAST(N'2025-03-01' AS Date))
GO
INSERT [dbo].[Cantidad_suministro_farmaceuticos_en_almacen] ([suministro_Farmaceutico], [cantidad_de_almacen]) VALUES (N'F-100384', CAST(1.00 AS Decimal(4, 2)))
INSERT [dbo].[Cantidad_suministro_farmaceuticos_en_almacen] ([suministro_Farmaceutico], [cantidad_de_almacen]) VALUES (N'F-200340', CAST(2.00 AS Decimal(4, 2)))
INSERT [dbo].[Cantidad_suministro_farmaceuticos_en_almacen] ([suministro_Farmaceutico], [cantidad_de_almacen]) VALUES (N'F-300311', CAST(4.00 AS Decimal(4, 2)))
GO
INSERT [dbo].[Cita] ([numero_Cita], [numero_Departamento], [numero_Paciente], [numero_Empleado], [fecha], [hora], [habitacion]) VALUES (N'CI092501', N'D-4', N'PIN102', N'MZP001', CAST(N'2025-09-09' AS Date), CAST(N'09:00:00' AS Time), N'C234')
INSERT [dbo].[Cita] ([numero_Cita], [numero_Departamento], [numero_Paciente], [numero_Empleado], [fecha], [hora], [habitacion]) VALUES (N'CI092502', N'D-5', N'DP203', N'YHV002', CAST(N'2025-09-16' AS Date), CAST(N'08:30:00' AS Time), N'G023')
INSERT [dbo].[Cita] ([numero_Cita], [numero_Departamento], [numero_Paciente], [numero_Empleado], [fecha], [hora], [habitacion]) VALUES (N'CI092503', N'D-6', N'MG301', N'JTC003', CAST(N'2025-09-17' AS Date), CAST(N'11:15:00' AS Time), N'D001')
GO
INSERT [dbo].[Cita_de_paciente] ([numero_Paciente], [numero_cita]) VALUES (N'C404', N'CI092505')
INSERT [dbo].[Cita_de_paciente] ([numero_Paciente], [numero_cita]) VALUES (N'D200', N'CI102510')
INSERT [dbo].[Cita_de_paciente] ([numero_Paciente], [numero_cita]) VALUES (N'DP203', N'CI092502')
GO
INSERT [dbo].[Contrato] ([id_Contrato], [numero_Empleado], [tipo_Contrato], [horas_Semana], [tipo_Nomina]) VALUES (N'CLN-2025-11234', N'CRZ004', N'Temporal', 35, N'MENSUAL')
INSERT [dbo].[Contrato] ([id_Contrato], [numero_Empleado], [tipo_Contrato], [horas_Semana], [tipo_Nomina]) VALUES (N'HSP-2025-00123', N'MZP001', N'Fijo    ', 40, N'SEMANAL')
INSERT [dbo].[Contrato] ([id_Contrato], [numero_Empleado], [tipo_Contrato], [horas_Semana], [tipo_Nomina]) VALUES (N'HSP-2025-00456', N'YHV002', N'Fijo    ', 40, N'SEMANAL')
GO
INSERT [dbo].[Contrato_de_empleado] ([numero_Empleado], [id_Contrato], [categoria], [salario_Actual], [escala_Salarial], [horas_Trabajadas]) VALUES (N'CRZ004', N'CLN-2025-11234', N'Médico Geriatra', 200000.0000, N'200000 - 250000', 40)
INSERT [dbo].[Contrato_de_empleado] ([numero_Empleado], [id_Contrato], [categoria], [salario_Actual], [escala_Salarial], [horas_Trabajadas]) VALUES (N'JHR007', N'LAB-2025-06789', N'Reumatólogo', 200000.0000, N'200000 - 250000', 40)
INSERT [dbo].[Contrato_de_empleado] ([numero_Empleado], [id_Contrato], [categoria], [salario_Actual], [escala_Salarial], [horas_Trabajadas]) VALUES (N'JTC003', N'MED-2025-07891', N'Médico General', 200000.0000, N'200000 - 250000', 40)
GO
INSERT [dbo].[Costo_unitario_suministro_farmaceuticos] ([suministro_Farmaceutico], [costo_Unitario]) VALUES (N'F-100384', 1.0000)
INSERT [dbo].[Costo_unitario_suministro_farmaceuticos] ([suministro_Farmaceutico], [costo_Unitario]) VALUES (N'F-200340', 2.0000)
INSERT [dbo].[Costo_unitario_suministro_farmaceuticos] ([suministro_Farmaceutico], [costo_Unitario]) VALUES (N'F-300311', 4.0000)
GO
INSERT [dbo].[Cualificacion] ([fecha_Obtencion], [numero_Empleado], [tipo], [nombre_Institucion]) VALUES (CAST(N'2008-12-15' AS Date), N'JHR007', N'Reumatólogo', N'IPN')
INSERT [dbo].[Cualificacion] ([fecha_Obtencion], [numero_Empleado], [tipo], [nombre_Institucion]) VALUES (CAST(N'2009-12-16' AS Date), N'RPS010', N'Endocrinólogo', N'UANL')
INSERT [dbo].[Cualificacion] ([fecha_Obtencion], [numero_Empleado], [tipo], [nombre_Institucion]) VALUES (CAST(N'2010-07-16' AS Date), N'MMC008', N'Oftalmólogo', N'UdeG')
GO
INSERT [dbo].[Cualificacion_Empleado] ([numero_Empleado], [fecha_Obtencion]) VALUES (N'CRZ004', CAST(N'2017-07-18' AS Date))
INSERT [dbo].[Cualificacion_Empleado] ([numero_Empleado], [fecha_Obtencion]) VALUES (N'JHR007', CAST(N'2008-12-15' AS Date))
INSERT [dbo].[Cualificacion_Empleado] ([numero_Empleado], [fecha_Obtencion]) VALUES (N'JTC003', CAST(N'2019-12-16' AS Date))
GO
INSERT [dbo].[Datos_personales] ([numero_Paciente], [telefono_Paciente], [fecha_Nacimiento], [sexo], [estado_Civil], [calle], [colonia], [alcaldía_Municipio], [estado], [cp]) VALUES (N'C404', 5564368283, CAST(N'1941-04-12' AS Date), N'M', N'Casado', N'Calle Hidalgo 512', N'Centro', N'Querétaro', N'Querétaro', 7600)
INSERT [dbo].[Datos_personales] ([numero_Paciente], [telefono_Paciente], [fecha_Nacimiento], [sexo], [estado_Civil], [calle], [colonia], [alcaldía_Municipio], [estado], [cp]) VALUES (N'D200', 5531652694, CAST(N'1940-12-08' AS Date), N'F', N'Casado', N'Av. 20 de Noviembre 1234', N'Centro', N'Veracruz', N'Veracruz', 9170)
INSERT [dbo].[Datos_personales] ([numero_Paciente], [telefono_Paciente], [fecha_Nacimiento], [sexo], [estado_Civil], [calle], [colonia], [alcaldía_Municipio], [estado], [cp]) VALUES (N'DP203', 5551083688, CAST(N'1942-10-19' AS Date), N'F', N'Casado', N'Av. Tecnológico 3500', N'Las Américas', N'Toluca', N'Estado de México', 5013)
GO
INSERT [dbo].[Datos_personales_empleado] ([numero_Empleado], [nombre], [apellido_M], [apellido_P], [calle], [colonia], [alcaldia_municipio], [estado], [codigo_postal], [telefono_Empleado], [fecha_Nac], [sexo], [NIN]) VALUES (N'CRZ004', N'Claudia', N'Rivas', N'Zorchaga', N'Prolongación Hidalgo 789', N'Col. Las Torres', N'Monterrey', N'Nuevo León', 64780, N'5567847956', CAST(N'1994-02-04' AS Date), N'F', N'509-67-4567')
INSERT [dbo].[Datos_personales_empleado] ([numero_Empleado], [nombre], [apellido_M], [apellido_P], [calle], [colonia], [alcaldia_municipio], [estado], [codigo_postal], [telefono_Empleado], [fecha_Nac], [sexo], [NIN]) VALUES (N'JHR007', N'Julio', N'Hernández', N'Ramírez', N'Blvd. Díaz Ordaz 510', N'Col. La Mesa', N'Tijuana', N'Baja California', 22105, N'5551083284', CAST(N'1985-06-28' AS Date), N'M', N'765-43-2109')
INSERT [dbo].[Datos_personales_empleado] ([numero_Empleado], [nombre], [apellido_M], [apellido_P], [calle], [colonia], [alcaldia_municipio], [estado], [codigo_postal], [telefono_Empleado], [fecha_Nac], [sexo], [NIN]) VALUES (N'JTC003', N'Julio', N'Téllez', N'Cruz', N'Calle 60 #325', N'Centro', N'Mérida', N'Yucatán', 97000, N'5564368119', CAST(N'1996-02-23' AS Date), N'M', N'111-22-3333')
GO
INSERT [dbo].[Datos_personales_pariente] ([telefono_Pariente], [nombre], [apellidoP], [apellidoM], [calle], [colonia], [alcaldía_municipio], [estado], [cp]) VALUES (5540991333, N'MAURICIO', N'VALLES', N'MONROY', N'Blvd. Belisario Domínguez 3490', N'Terán', N'Tuxtla Gutiérrez', N'Chiapas', 2905)
INSERT [dbo].[Datos_personales_pariente] ([telefono_Pariente], [nombre], [apellidoP], [apellidoM], [calle], [colonia], [alcaldía_municipio], [estado], [cp]) VALUES (5540991897, N'MARLEN', N'COBOS', N'PRIETO', N'Calle Hidalgo 512', N'Centro', N'Querétaro', N'Querétaro', 7600)
INSERT [dbo].[Datos_personales_pariente] ([telefono_Pariente], [nombre], [apellidoP], [apellidoM], [calle], [colonia], [alcaldía_municipio], [estado], [cp]) VALUES (5551083645, N'SOFIA', N'RIVERA', N'CUEVAS', N'Calle Morelos 77', N'Centro', N'Villahermosa', N'Tabasco', 8600)
GO
INSERT [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico], [nombre_Farmaceutico], [descripcion], [dosis], [modo_administracion]) VALUES (N'F-100384', N'Paracetamol', N'Analgesico', N'500 mg', N'oral')
INSERT [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico], [nombre_Farmaceutico], [descripcion], [dosis], [modo_administracion]) VALUES (N'F-200340', N'Naproxeno', N'Antiflamatorio', N'550 mg', N'oral')
INSERT [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico], [nombre_Farmaceutico], [descripcion], [dosis], [modo_administracion]) VALUES (N'F-300311', N'Amoxicilina/Clavulanico', N'Antibiotico', N'400 mg /75 ml', N'inyectado')
GO
INSERT [dbo].[Datos_Suministros_Q_NQ] ([suministro_Quirurgico], [nombre_Elemento], [descripcion], [existencia_Almacen], [nivel_respuesto_Q_NQ], [costo_Unitario]) VALUES (N'NQ-01', N'Jabón Líquido para Manos', N'No quirurgicos', 400, N'medio', 3.2500)
INSERT [dbo].[Datos_Suministros_Q_NQ] ([suministro_Quirurgico], [nombre_Elemento], [descripcion], [existencia_Almacen], [nivel_respuesto_Q_NQ], [costo_Unitario]) VALUES (N'NQ-06', N'Delantal desechable', N'No quirurgicos', 2000, N'bajo', 0.5000)
INSERT [dbo].[Datos_Suministros_Q_NQ] ([suministro_Quirurgico], [nombre_Elemento], [descripcion], [existencia_Almacen], [nivel_respuesto_Q_NQ], [costo_Unitario]) VALUES (N'NQ-07', N'Carpeta de Historias Clínicas', N'No quirurgicos', 80, N'bajo', 4.0000)
GO
INSERT [dbo].[Departamento] ([numero_Departamento], [nombre_Departamento], [ubicacion], [total_Camas], [ext_Telefono], [numero_Empleado]) VALUES (N'D-10', N'Gastroenterología', N'Bloque A', 25, 7717, N'JHR007')
INSERT [dbo].[Departamento] ([numero_Departamento], [nombre_Departamento], [ubicacion], [total_Camas], [ext_Telefono], [numero_Empleado]) VALUES (N'D-11', N'Neumología', N'Bloque E', 20, 7718, N'MMC008')
INSERT [dbo].[Departamento] ([numero_Departamento], [nombre_Departamento], [ubicacion], [total_Camas], [ext_Telefono], [numero_Empleado]) VALUES (N'D-12', N'Endocrinología', N'Bloque D', 10, 7719, N'MPG009')
GO
INSERT [dbo].[Experiencia_Empleado] ([numero_Empleado], [id_Experiencia]) VALUES (N'CRZ004', N'CRZE004')
INSERT [dbo].[Experiencia_Empleado] ([numero_Empleado], [id_Experiencia]) VALUES (N'JHR007', N'JHRE007')
INSERT [dbo].[Experiencia_Empleado] ([numero_Empleado], [id_Experiencia]) VALUES (N'JTC003', N'JTCE003')
GO
INSERT [dbo].[Experiencia_Laboral] ([id_Experiencia], [numero_Empleado], [nombre_Organizacion], [categoria], [fecha_Incorporacion], [fecha_Termino]) VALUES (N'CRZE004', N'CRZ004', N'Hospital Medica Sur', N'Médico Geriatra', CAST(N'2018-07-18' AS Date), CAST(N'2024-07-18' AS Date))
INSERT [dbo].[Experiencia_Laboral] ([id_Experiencia], [numero_Empleado], [nombre_Organizacion], [categoria], [fecha_Incorporacion], [fecha_Termino]) VALUES (N'JHRE007', N'JHR007', N'ISSSTE', N'Reumatólogo', CAST(N'2010-12-15' AS Date), CAST(N'2024-12-15' AS Date))
INSERT [dbo].[Experiencia_Laboral] ([id_Experiencia], [numero_Empleado], [nombre_Organizacion], [categoria], [fecha_Incorporacion], [fecha_Termino]) VALUES (N'JTCE003', N'JTC003', N'ISSSTE', N'Médico General', CAST(N'2021-12-16' AS Date), CAST(N'2024-12-16' AS Date))
GO
INSERT [dbo].[Medicacion] ([numero_Medicina], [numero_Departamento], [numero_Cama], [suministro_Farmaceutico], [numero_Paciente], [nombre_Medicina], [descripcion], [dosis], [unidades_Dia], [modo_Adm], [inicio_Medicacion], [fin_Medicacion]) VALUES (7501072340139, N'D-12', 195, N'F-700339', N'E102', N'Metronidazol', N'Antibiótico', N'500 mg /100 ml', 4, N'intravenosa', CAST(N'2025-10-16' AS Date), CAST(N'2025-10-27' AS Date))
INSERT [dbo].[Medicacion] ([numero_Medicina], [numero_Departamento], [numero_Cama], [suministro_Farmaceutico], [numero_Paciente], [nombre_Medicina], [descripcion], [dosis], [unidades_Dia], [modo_Adm], [inicio_Medicacion], [fin_Medicacion]) VALUES (7501125179211, N'D-6', 83, N'F-300311', N'MG301', N'Amoxicilina/Clavulanico', N'Antibiotico', N'400 mg /75 ml', 3, N'inyectado', CAST(N'2025-09-17' AS Date), CAST(N'2025-09-26' AS Date))
INSERT [dbo].[Medicacion] ([numero_Medicina], [numero_Departamento], [numero_Cama], [suministro_Farmaceutico], [numero_Paciente], [nombre_Medicina], [descripcion], [dosis], [unidades_Dia], [modo_Adm], [inicio_Medicacion], [fin_Medicacion]) VALUES (7501125179938, N'D-7', 106, N'F-400338', N'ME202', N'Levofloxacino', N'Antibiotico', N'500 mg', 3, N'oral', CAST(N'2025-09-19' AS Date), CAST(N'2025-10-01' AS Date))
GO
INSERT [dbo].[Medico_de_cabecera] ([num_Ambulatorio], [numero_Paciente], [nombre], [apellidoP], [calle], [colonia], [alcaldía_municipio], [estado], [cp], [telefono_medico]) VALUES (N'E102', N'PIN102', N'Luis', N'Herrera', N'Av. Paseo de las Palmas 350', N'Lomas de Chapultepec', N'Miguel Hidalgo', N'Ciudad de México', 1100, 5512345678)
INSERT [dbo].[Medico_de_cabecera] ([num_Ambulatorio], [numero_Paciente], [nombre], [apellidoP], [calle], [colonia], [alcaldía_municipio], [estado], [cp], [telefono_medico]) VALUES (N'F203', N'DP203', N'Mariana', N'López', N'Calle Felipe Villanueva 120', N'Las Américas', N'Toluca', N'Estado de México', 5013, 7229876543)
INSERT [dbo].[Medico_de_cabecera] ([num_Ambulatorio], [numero_Paciente], [nombre], [apellidoP], [calle], [colonia], [alcaldía_municipio], [estado], [cp], [telefono_medico]) VALUES (N'G305', N'MG301', N'Carlos', N'Méndez', N'Av. Universidad 765', N'Centro', N'San Luis Potosí', N'San Luis Potosí', 7800, 4443219876)
GO
INSERT [dbo].[Nivel_de_peticion_de_suministro_farmaceuticos] ([suministro_Farmaceutico], [nivel_repuesto_Farma]) VALUES (N'F-100384', N'alto')
INSERT [dbo].[Nivel_de_peticion_de_suministro_farmaceuticos] ([suministro_Farmaceutico], [nivel_repuesto_Farma]) VALUES (N'F-200340', N'alto')
INSERT [dbo].[Nivel_de_peticion_de_suministro_farmaceuticos] ([suministro_Farmaceutico], [nivel_repuesto_Farma]) VALUES (N'F-300311', N'bajo')
GO
INSERT [dbo].[Nombre_Paciente] ([numero_Paciente], [nombre], [apellidoP], [apellidoM]) VALUES (N'C404', N'JORGE', N'CRUZ', N'BELLINAS')
INSERT [dbo].[Nombre_Paciente] ([numero_Paciente], [nombre], [apellidoP], [apellidoM]) VALUES (N'D200', N'JULIA', N'REBOLLAR', N'SUAREZ')
INSERT [dbo].[Nombre_Paciente] ([numero_Paciente], [nombre], [apellidoP], [apellidoM]) VALUES (N'DP203', N'CLAUDIA', N'LEYTE', N'ESQUIVEL')
GO
INSERT [dbo].[Paciente_Ambulatorio] ([fecha_hora_de_Cita], [numero_Cita], [numero_Paciente]) VALUES (CAST(N'2025-09-09T11:00:00.0000000' AS DateTime2), N'CI092501', N'PIN102')
INSERT [dbo].[Paciente_Ambulatorio] ([fecha_hora_de_Cita], [numero_Cita], [numero_Paciente]) VALUES (CAST(N'2025-09-16T10:30:00.0000000' AS DateTime2), N'CI092502', N'DP203')
INSERT [dbo].[Paciente_Ambulatorio] ([fecha_hora_de_Cita], [numero_Cita], [numero_Paciente]) VALUES (CAST(N'2025-09-17T12:15:00.0000000' AS DateTime2), N'CI092503', N'MG301')
GO
INSERT [dbo].[Paciente_Interno] ([fecha_Ingreso], [numero_Cita], [numero_Paciente], [numero_Departamento], [numero_Cama], [fLista_Espera], [estancia_Prevista], [fecha_Salida_Prevista], [fecha_Salida_Real]) VALUES (CAST(N'2025-09-13' AS Date), N'CI092501', N'PIN102', N'D-4', 35, CAST(N'2025-09-09' AS Date), N'5 dias', CAST(N'2025-09-15' AS Date), CAST(N'2025-09-15' AS Date))
INSERT [dbo].[Paciente_Interno] ([fecha_Ingreso], [numero_Cita], [numero_Paciente], [numero_Departamento], [numero_Cama], [fLista_Espera], [estancia_Prevista], [fecha_Salida_Prevista], [fecha_Salida_Real]) VALUES (CAST(N'2025-09-17' AS Date), N'CI092503', N'MG301', N'D-6', 83, CAST(N'2025-09-17' AS Date), N'10 dias', CAST(N'2025-09-27' AS Date), CAST(N'2025-09-26' AS Date))
INSERT [dbo].[Paciente_Interno] ([fecha_Ingreso], [numero_Cita], [numero_Paciente], [numero_Departamento], [numero_Cama], [fLista_Espera], [estancia_Prevista], [fecha_Salida_Prevista], [fecha_Salida_Real]) VALUES (CAST(N'2025-09-19' AS Date), N'CI092504', N'ME202', N'D-7', 106, CAST(N'2025-09-18' AS Date), N'12 dias', CAST(N'2025-10-01' AS Date), CAST(N'2025-10-01' AS Date))
GO
INSERT [dbo].[Parentesco] ([telefono_Pariente], [numero_Paciente], [parentesco]) VALUES (5540991333, N'O113', N'HERMANO')
INSERT [dbo].[Parentesco] ([telefono_Pariente], [numero_Paciente], [parentesco]) VALUES (5540991897, N'C404', N'ESPOSA')
INSERT [dbo].[Parentesco] ([telefono_Pariente], [numero_Paciente], [parentesco]) VALUES (5551083645, N'R504', N'ESPOSA')
GO
INSERT [dbo].[Pedido_Departamento_Suministro_Quirurgico] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Quirurgico], [nombre], [descripcion], [dosis], [modo_de_administracion_especialidades], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P1813032025', N'NRMP005', N'D-8', N'Q-05', N'Sutura', N'Quirurgicos', N'N/A', N'N/A', 15.0000, N'17 pz', CAST(N'2025-03-13' AS Date))
INSERT [dbo].[Pedido_Departamento_Suministro_Quirurgico] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Quirurgico], [nombre], [descripcion], [dosis], [modo_de_administracion_especialidades], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P1920052025', N'MSM006', N'D-9', N'Q-04', N'Vendaje Elástico', N'Quirurgicos', N'N/A', N'N/A', 0.5000, N'90 pz', CAST(N'2025-05-20' AS Date))
INSERT [dbo].[Pedido_Departamento_Suministro_Quirurgico] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Quirurgico], [nombre], [descripcion], [dosis], [modo_de_administracion_especialidades], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P2102042025', N'JHR007', N'D-10', N'Q-08', N'Campo Quirúrgico Estéril', N'Quirurgicos', N'N/A', N'N/A', 15.0000, N'31 pz', CAST(N'2025-04-02' AS Date))
GO
INSERT [dbo].[Pedido_departamento_suministros_farmaceuticos] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Farmaceutico], [nombre], [descripcion], [dosis], [modo_de_administracion], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P3412034019', N'MZP001', N'D-4', N'F-200340', N'Naproxeno', N'Farmaceutico', N'550 mg', N'oral', 2.0000, N'100 pz', CAST(N'2019-03-12' AS Date))
INSERT [dbo].[Pedido_departamento_suministros_farmaceuticos] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Farmaceutico], [nombre], [descripcion], [dosis], [modo_de_administracion], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P3522052019', N'YHV002', N'D-5', N'F-300311', N'Amoxicilina/Clavulanico', N'Farmaceutico', N'400 mg /75 ml', N'inyectado', 4.0000, N'50 pz', CAST(N'2019-05-22' AS Date))
INSERT [dbo].[Pedido_departamento_suministros_farmaceuticos] ([numero_Pedido], [numero_Empleado], [numero_Departamento], [suministro_Farmaceutico], [nombre], [descripcion], [dosis], [modo_de_administracion], [costo_Unitario], [cantidad_Requerida], [fecha_Pedido]) VALUES (N'P3622052019', N'JTC003', N'D-6', N'F-400338', N'Levofloxacino', N'Farmaceutico', N'500 mg', N'oral', 1.4500, N'60 pz', CAST(N'2019-05-22' AS Date))
GO
INSERT [dbo].[Programacion_Semanal] ([id_programacion_semanal], [fecha_Inicio], [numero_Empleado], [numero_Departamento], [turno]) VALUES (N'CRZ004-2209', CAST(N'2025-09-22' AS Date), N'CRZ004', N'D-7', N'Mañana ')
INSERT [dbo].[Programacion_Semanal] ([id_programacion_semanal], [fecha_Inicio], [numero_Empleado], [numero_Departamento], [turno]) VALUES (N'JHR007-2209', CAST(N'2025-09-22' AS Date), N'JHR007', N'D-10', N'Mañana ')
INSERT [dbo].[Programacion_Semanal] ([id_programacion_semanal], [fecha_Inicio], [numero_Empleado], [numero_Departamento], [turno]) VALUES (N'JTC003-2209', CAST(N'2025-09-22' AS Date), N'JTC003', N'D-6', N'Noche  ')
GO
INSERT [dbo].[Proveedor] ([numero_Proveedor], [suministro_Quirurgico], [suministro_Farmaceutico], [Calle], [Colonia], [alcaldia_municipio], [Estado], [cp], [telefono], [fax]) VALUES (N'PF0001', N'Q-11', N'F-100384', N'Blvd. Miguel de Cervantes Saavedra 259', N'Granada', N'Miguel Hidalgo', N'CDMX', N'11520', 5557132001, 5520000321)
INSERT [dbo].[Proveedor] ([numero_Proveedor], [suministro_Quirurgico], [suministro_Farmaceutico], [Calle], [Colonia], [alcaldia_municipio], [Estado], [cp], [telefono], [fax]) VALUES (N'PF0002', N'Q-07', N'F-200340', N'Av. Río Churubusco 25-M Piso (Torre Mitikah)', N'Xoco', N'Benido Juarez', N'CDMX', N'3330', 5525864400, 5620000321)
INSERT [dbo].[Proveedor] ([numero_Proveedor], [suministro_Quirurgico], [suministro_Farmaceutico], [Calle], [Colonia], [alcaldia_municipio], [Estado], [cp], [telefono], [fax]) VALUES (N'PF0003', N'Q-05', N'F-300311', N'Dr. Balmis 180 (Eje Vial 2A Sur)', N'Doctores', N'Cuauhtémoc', N'CDMX', N'6720', 5555326272, 5720000321)
GO
INSERT [dbo].[Registro_Paciente] ([numero_Paciente], [fecha_Registro]) VALUES (N'C404', CAST(N'2025-04-22' AS Date))
INSERT [dbo].[Registro_Paciente] ([numero_Paciente], [fecha_Registro]) VALUES (N'D200', CAST(N'2025-09-09' AS Date))
INSERT [dbo].[Registro_Paciente] ([numero_Paciente], [fecha_Registro]) VALUES (N'DP203', CAST(N'2025-02-15' AS Date))
GO
ALTER TABLE [dbo].[Cama]  WITH CHECK ADD  CONSTRAINT [FK_Cama_Departamento] FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Cama] CHECK CONSTRAINT [FK_Cama_Departamento]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Cita_de_paciente]  WITH CHECK ADD FOREIGN KEY([numero_cita])
REFERENCES [dbo].[Cita] ([numero_Cita])
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Contrato_de_empleado]  WITH CHECK ADD  CONSTRAINT [FK_Contrato] FOREIGN KEY([id_Contrato])
REFERENCES [dbo].[Contrato] ([id_Contrato])
GO
ALTER TABLE [dbo].[Contrato_de_empleado] CHECK CONSTRAINT [FK_Contrato]
GO
ALTER TABLE [dbo].[Cualificacion]  WITH CHECK ADD  CONSTRAINT [FK_Cualificacion_Empleado] FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Cualificacion] CHECK CONSTRAINT [FK_Cualificacion_Empleado]
GO
ALTER TABLE [dbo].[Cualificacion_Empleado]  WITH CHECK ADD FOREIGN KEY([fecha_Obtencion], [numero_Empleado])
REFERENCES [dbo].[Cualificacion] ([fecha_Obtencion], [numero_Empleado])
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Experiencia_Empleado]  WITH CHECK ADD FOREIGN KEY([id_Experiencia])
REFERENCES [dbo].[Experiencia_Laboral] ([id_Experiencia])
GO
ALTER TABLE [dbo].[Experiencia_Laboral]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Medicacion]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Medicacion]  WITH CHECK ADD FOREIGN KEY([numero_Cama])
REFERENCES [dbo].[Cama] ([numero_Cama])
GO
ALTER TABLE [dbo].[Medicacion]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Medicacion]  WITH CHECK ADD FOREIGN KEY([suministro_Farmaceutico])
REFERENCES [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico])
GO
ALTER TABLE [dbo].[Medico_de_cabecera]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Paciente_Ambulatorio]  WITH CHECK ADD FOREIGN KEY([numero_Cita])
REFERENCES [dbo].[Cita] ([numero_Cita])
GO
ALTER TABLE [dbo].[Paciente_Ambulatorio]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Paciente_Interno]  WITH CHECK ADD FOREIGN KEY([numero_Cita])
REFERENCES [dbo].[Cita] ([numero_Cita])
GO
ALTER TABLE [dbo].[Paciente_Interno]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Paciente_Interno]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Paciente_Interno]  WITH CHECK ADD FOREIGN KEY([numero_Cama])
REFERENCES [dbo].[Cama] ([numero_Cama])
GO
ALTER TABLE [dbo].[Parentesco]  WITH CHECK ADD FOREIGN KEY([numero_Paciente])
REFERENCES [dbo].[Nombre_Paciente] ([numero_Paciente])
GO
ALTER TABLE [dbo].[Pedido_Departamento_Suministro_Quirurgico]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Pedido_Departamento_Suministro_Quirurgico]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Pedido_Departamento_Suministro_Quirurgico]  WITH CHECK ADD FOREIGN KEY([suministro_Quirurgico])
REFERENCES [dbo].[Datos_Suministros_Q_NQ] ([suministro_Quirurgico])
GO
ALTER TABLE [dbo].[Pedido_departamento_suministros_farmaceuticos]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Pedido_departamento_suministros_farmaceuticos]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Pedido_departamento_suministros_farmaceuticos]  WITH CHECK ADD FOREIGN KEY([suministro_Farmaceutico])
REFERENCES [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico])
GO
ALTER TABLE [dbo].[Programacion_Semanal]  WITH CHECK ADD FOREIGN KEY([numero_Empleado])
REFERENCES [dbo].[Datos_personales_empleado] ([numero_Empleado])
GO
ALTER TABLE [dbo].[Programacion_Semanal]  WITH CHECK ADD FOREIGN KEY([numero_Departamento])
REFERENCES [dbo].[Departamento] ([numero_Departamento])
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD FOREIGN KEY([suministro_Quirurgico])
REFERENCES [dbo].[Datos_Suministros_Q_NQ] ([suministro_Quirurgico])
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD FOREIGN KEY([suministro_Farmaceutico])
REFERENCES [dbo].[Datos_suministro_farmaceutico] ([suministro_Farmaceutico])
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD CHECK  (([tipo_Contrato]='Temporal' OR [tipo_Contrato]='Fijo'))
GO
ALTER TABLE [dbo].[Datos_personales]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[Datos_personales_empleado]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[Programacion_Semanal]  WITH CHECK ADD CHECK  (([turno]='Noche' OR [turno]='Tarde' OR [turno]='Mañana'))
GO
